@import "../../../assets/colors.scss";

// Animation
@keyframes scroll {
  0% {
    transform: translate(0);
  }
  90% {
    transform: translate(calc(-100% + 100vw), 0);
  }
  100%{
    transform: translate(0);
  }
}

// Styling
.slider {
  display: flex;
  position: relative;
  background: $background;
  height: calc(100vh - 40px);
  align-items: center;
  width: fit-content;
  margin: 20px 0px;
  justify-content: center;
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: $animationSpeed;

  .slide-track {
    width: auto;
  }

  .slide {
    margin: 0px 10px;

    img {
      object-fit: cover;
      border-radius: 20px;
      height: calc(100vh - 40px);
      width: inherit;
    }
  }
  .slideshow_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 40px);
    width: 100%;
    opacity: 0.5;
    z-index: 1;
  }
}
