$background: #060606;
$background-inverted: #fffffa;
$header-background: #0f0f0f55;
$primary-text: #dcf7ff;
$primary-text-hover: #dcf7ffaa;
$secondary-text: #060606;
$animationSpeed: 100s;
$transition: all 0.2s ease-in-out;
// $border-light:
